<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" th:href="@{img/cat.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>ERRO :( </title>
  </head>
  <body>
      <main>
          <section class="erro">
              <h1>[ERRO!!!]. HOUVE UM ERRO AO CADASTRAR O GATO :(</h1>
              <p>Chamaremos o suporte para resolver mais rapido possivel</p>
          </section>
      </main>
  </body>
</html>
